@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap");
.box {
  margin-top: 200px;
  margin-left: 350px;
  width: 1100px;
  height: 500px;
  background-color: grey;
}

.headshot {
  width: 100%;
  border: 3px solid;
}
.back {
  background-color: grey;
}
.lead {
  text-align: center;
  color: #ff1710;
  font-family: "Kiwi Maru", serif;
}
.social {
  height: 20%;
  margin-top: 3%;
  margin-left: 20%;
}
.social1 {
  margin-left: 10%;
}

.navbar-nav a {
  margin-left: 10px;
  color: #fff;
}

.navbar p {
  color: #fff;
  font-size: 18px;
  margin-top: 1%;
}
.about {
  text-align: center;
  color: white;
  font-size: larger;
}
